.aside {
  --pading-top-bottom: 5rem;
  --pading-left-right: 2rem;
  --aside-gap: 4rem;
  height: min-content;
  padding: var(--pading-top-bottom) var(--pading-left-right);
  background-color: #333;
  border: 1px solid white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--aside-gap);

  &--start {
    img {
      width: 15rem;
      height: auto;
      margin-inline: auto;
    }
  }
}
