.aside {
  &--score,
  &--start {
    --aside-gap: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--aside-gap);
  }

  &--start {
    img {
      width: 15rem;
      height: auto;
      margin-inline: auto;
    }
  }
}
