.score {
  background-color: black;
  padding: 1rem 2rem;
  // height: 100px;
  // width: 100px;
  // border: 1px solid white;

  display: grid;
  place-items: center;

  color: white;
  font-size: 2rem;
}
