.score {
  --padding-top-bottom: 1rem;
  --padding-left-right: 2rem;
  background-color: black;
  padding: var(--padding-top-bottom) var(--padding-left-right);
  border: 1px solid white;

  display: grid;
  place-items: center;

  color: white;
  font-size: 2rem;
}
